$primaryColor: #323643;
$secondaryColor: #f7f7f7;
$accentOne: #93deff;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

@font-face {
    font-family: 'BBT Martires';
    font-weight: 300;
    src: url("/static/fonts/BBTMartiresFree-Thin.otf");
}

@font-face {
    font-family: 'BBT Martires';
    font-weight: 400;
    src: url("/static/fonts/BBTMartiresFree-Regular.otf");
}

@font-face {
    font-family: 'BBT Martires';
    font-weight: 800;
    src: url("/static/fonts/BBTMartiresFree-ExtraBold.otf");
}

@font-face {
    font-family: 'Bantayog';
    font-weight: 400;
    src: url("/static/fonts/Bantayog-Regular.otf");
}

@font-face {
    font-family: 'Bantayog';
    font-weight: 300;
    src: url("/static/fonts/Bantayog-Light.otf");
}

@font-face {
    font-family: 'Maragsa';
    font-weight: 400;
    src: url("/static/fonts/Maragsâ-Display.otf");
}

@mixin media-xs {
    // Medium devices (landscape tablets, 768px and up)
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin media-md {
    // Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    // Large devices (laptops/desktops, 1024px and up)
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    // Extra large devices (large laptops and desktops, 1600px and up)
    @media only screen and (min-width: 1600px) {
        @content;
    }
}