{% extends 'base.html' %}

{% load static %}

{% block stylesheets %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Rank List</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
{% endblock stylesheets %}

{% block body %}
<div id="aaroncymor-website">
    <ul id="sortable">
        {% if projects %}
            {% for project in projects %}
                <li id="{{ project.id }}" class="ui-state-default">
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                    Rank: {{ project.rank }} - ID: {{ project.id }} - {{ project.name }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <form id="aaroncymor-project-rankings-form" method="post" action="{% url 'project-rank-list-update' %}">
        {% csrf_token %}
        <div id="aaroncymor-input-rankings"></div>
        <input type="submit" value="Submit" />
    </form>
    <a href="{% url 'project-list' %}">Back</a>
</div>
{% endblock body %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
    
    $("#aaroncymor-project-rankings-form").submit(function(event){
        var projectIDs = $("#sortable").sortable("toArray");
        var inputRanks = "";
        $.each(projectIDs, function(index, value){
            
            inputRanks += '<input type="hidden" name="ranks" value="' + value + '" />';
        });

        if(inputRanks.length > 0) {
            $("#aaroncymor-input-rankings").html(inputRanks);
            $(this).submit();
        } else {
            event.preventDefault();
        }
    });

  } );
</script>
{% endblock javascript %}