{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{{ form.media }}
{% endblock stylesheets %}

{% block content %}
<div class="container">
    <h3 class="center-align">Project Form</h3>
    <div class="divider"></div>
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}
        <p>
            {{ form.name.label_tag }}
            {{ form.name.errors }}
            {{ form.name }}
        </p>
        <p>
            {{ form.description.label_tag }}
            {{ form.description.errors }}
            {{ form.description }}
        </p>
        <p>
            {{ form.rank.label_tag }}
            {{ form.rank.errors }}
            {{ form.rank }}
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>

    {% if prev_page_session %}
        <a href="{% url 'project-list' %}?page={{ prev_page_session }}">Back</a>
        {% if project_id %}
        <a href="{% url 'project-detail' project_id %}?prev_page_session={{ prev_page_session }}">View</a>
        {% endif %}
    {% else %}
        <a href="{% url 'project-list' %}">Back</a>
        {% if project_id %}
        <a href="{% url 'project-detail' project_id %}">View</a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
        $('select').formSelect();
    });
</script>
{% endblock javascript %}