{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 class="center-align">Project</h3>
    <div class="divider"></div>
    <div>
        {{ project.name }}
        {{ project.description | safe }}
    </div>
    {% if prev_page_session %}
        <a href="{% url 'project-list' %}?page={{ prev_page_session }}">Back</a>
        {% if request.session.authorized %}
        <a href="{% url 'project-form' %}?id={{ project.id }}&prev_page_session={{ prev_page_session }}">Edit</a>
        {% endif %}
    {% else %}
        <a href="{% url 'project-list' %}">Back</a>
        {% if request.session.authorized %}
        <a href="{% url 'project-form' %}?id={{ project.id }}">Edit</a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}