{% extends 'base2.html' %}

{% block head_extension %}
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
{% endblock %}

{% block content %}
<section class="posts">
    <div class="posts__search">
        <form method="post" action="">
            <div class="autocomplete-wrapper">
                <input
                    id="post-search-autocomplete"
                    type="text"
                    class="post-search">
            </div>
            <button>Search</button>
        </form>
    </div>
    <div class="posts__list">
        <article class="posts__item">
            <h2 class="posts__title bantayog-font">Title One</h2>
            <p class="posts__short-content nunito-font">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas quis odio non ipsum finibus ornare in vitae lectus.
                Pellentesque aliquam ipsum at augue convallis, at tincidunt
                purus tempor. Nulla rhoncus id sapien id aliquet. Nam nec posuere
                arcu. Nunc pharetra at risus sit amet accumsan. Vestibulum tempor
                diam metus, ut rutrum ante rhoncus eget.
                <span class="posts__read-more">
                    Read more <a href="#">here...</a>
                </span>
            </p>
            <div class="posts__published">
                <p class="nunito-font">Published: <span>Jan 01, 2020</span></p>
            </div>
            <div class="posts__tags">
                <ul>
                    <li>tag-one</li>
                    <li>tag-two</li>
                    <li>tag-three</li>
                </ul>
            </div>
        </article>

        <article class="posts__item">
            <h2 class="posts__title bantayog-font">Title Two</h2>
            <p class="posts__short-content nunito-font">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas quis odio non ipsum finibus ornare in vitae lectus.
                Pellentesque aliquam ipsum at augue convallis, at tincidunt
                purus tempor. Nulla rhoncus id sapien id aliquet. Nam nec posuere
                arcu. Nunc pharetra at risus sit amet accumsan. Vestibulum tempor
                diam metus, ut rutrum ante rhoncus eget.
                <span class="posts__read-more">
                    Read more <a href="#">here...</a>
                </span>
            </p>
            <div class="posts__published">
                <p class="nunito-font">Published: <span>Jan 01, 2020</span></p>
            </div>
            <div class="posts__tags">
                <ul>
                    <li>tag-one</li>
                    <li>tag-two</li>
                    <li>tag-three</li>
                </ul>
            </div>
        </article>

        <article class="posts__item">
            <h2 class="posts__title bantayog-font">Title Three</h2>
            <p class="posts__short-content nunito-font">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas quis odio non ipsum finibus ornare in vitae lectus.
                Pellentesque aliquam ipsum at augue convallis, at tincidunt
                purus tempor. Nulla rhoncus id sapien id aliquet. Nam nec posuere
                arcu. Nunc pharetra at risus sit amet accumsan. Vestibulum tempor
                diam metus, ut rutrum ante rhoncus eget.
                <span class="posts__read-more">
                    Read more <a href="#">here...</a>
                </span>
            </p>
            <div class="posts__published">
                <p class="nunito-font">Published: <span>Jan 01, 2020</span></p>
            </div>
            <div class="posts__tags">
                <ul>
                    <li>tag-one</li>
                    <li>tag-two</li>
                    <li>tag-three</li>
                </ul>
            </div>
        </article>

        <article class="posts__item">
            <h2 class="posts__title bantayog-font">Title Four</h2>
            <p class="posts__short-content nunito-font">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas quis odio non ipsum finibus ornare in vitae lectus.
                Pellentesque aliquam ipsum at augue convallis, at tincidunt
                purus tempor. Nulla rhoncus id sapien id aliquet. Nam nec posuere
                arcu. Nunc pharetra at risus sit amet accumsan. Vestibulum tempor
                diam metus, ut rutrum ante rhoncus eget.
                <span class="posts__read-more">
                    Read more <a href="#">here...</a>
                </span>
            </p>
            <div class="posts__published">
                <p class="nunito-font">Published: <span>Jan 01, 2020</span></p>
            </div>
            <div class="posts__tags">
                <ul>
                    <li>tag-one</li>
                    <li>tag-two</li>
                    <li>tag-three</li>
                </ul>
            </div>
        </article>

        <article class="posts__item">
            <h2 class="posts__title bantayog-font">Title Five</h2>
            <p class="posts__short-content nunito-font">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas quis odio non ipsum finibus ornare in vitae lectus.
                Pellentesque aliquam ipsum at augue convallis, at tincidunt
                purus tempor. Nulla rhoncus id sapien id aliquet. Nam nec posuere
                arcu. Nunc pharetra at risus sit amet accumsan. Vestibulum tempor
                diam metus, ut rutrum ante rhoncus eget.
                <span class="posts__read-more">
                    Read more <a href="#">here...</a>
                </span>
            </p>
            <div class="posts__published">
                <p class="nunito-font">Published: <span>Jan 01, 2020</span></p>
            </div>
            <div class="posts__tags">
                <ul>
                    <li>tag-one</li>
                    <li>tag-two</li>
                    <li>tag-three</li>
                </ul>
            </div>
        </article>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    const postSearchInput = document.querySelector('#post-search-autocomplete');

    async function autoCompleteSearch(url='', data = {}) {
        const response = await fetch(url, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        });

        return response.json();
    }

    // clear input text on refresh
    window.onload = async () => {
        postSearchInput.value = "";
    }

    new autoComplete({
        data: {
            src: async () => {
                let postList = Array();
                let searchData = (postSearchInput.value.length > 2) ? postSearchInput.value : '';
                let postSearchResults = await autoCompleteSearch('/api/v1/autocomplete',
                                        { search: searchData}).then(data => data);
                return postSearchResults;
                // postSearchResults.forEach(postSearchResult=>{
                //     postList.push(`${postSearchResult.title} - ${postSearchResult.type}`);
                // });
                // return postList;
            },
            cache: false
        },
        placeHolder: "Blog Posts...",
        threshold: 2,
        searchEngine: "loose",
        resultsList: {
            render: true,
            container: source => {
                source.setAttribute('class', 'post-search-list');
            },
            destination: document.querySelector('#post-search-autocomplete'),
            position: 'afterend',
            element: "div"
        },
        highlight: true,
        selector: '#post-search-autocomplete',
        resultItem: {
            content: (data, source) => {
                console.log(data);
                // console.log(source);
                source.setAttribute('class', 'post-search-item');
                // source.innerHTML = data.match;
            },
            element: "div"
        }
    });
</script>
{% endblock %}