{% extends 'base2.html' %}

{% block content %}
<section class="posts">
    <div class="posts__more-blogs">
        <p class="nunito-font">More Blogs</p>
        <ul>
            <li><a href="#">Title Two</a></li>
            <li><a href="#">Title Three</a></li>
        </ul>
    </div>
    <div class="posts__container">
        <h1 class="posts__title bantayog-font">TITLE ONE</h1>
        <div class="posts__tags">
            <ul>
                <li>tagone</li>
                <li>tagtwo</li>
                <li>tagthree</li>
            </ul>
        </div>
        <div class="posts__content">
            <p class="nunito-font">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris 
                laoreet nibh non diam condimentum, nec finibus ante porttitor. 
                Duis in eros quis felis congue vestibulum. In nunc enim, aliquam 
                id egestas a, maximus at nunc. Class aptent taciti sociosqu ad 
                litora torquent per conubia nostra, per inceptos himenaeos. Proin 
                blandit vulputate risus a maximus. Integer maximus, ligula sed 
                ullamcorper ullamcorper, enim augue aliquet sapien, in sodales 
                elit arcu ac sapien. Integer at orci sit amet mauris tempus 
                elementum sed non arcu. Mauris sed lorem in leo feugiat molestie. 
                Sed vitae ipsum ullamcorper, fermentum turpis vel, accumsan ex. 
                Curabitur vitae enim justo. Nullam viverra vulputate venenatis.
            </p>

            <p class="nunito-font">
                Phasellus pellentesque ante sit amet lorem auctor luctus. Mauris 
                laoreet ornare imperdiet. Ut leo nulla, faucibus id fermentum ac, 
                ornare non elit. Phasellus at varius est, eu tristique dolor. Aliquam 
                erat volutpat. Aliquam auctor aliquet sapien in blandit. Suspendisse 
                hendrerit non turpis eu lacinia. Donec quis tortor ac purus elementum 
                tempus. Pellentesque elit ante, pulvinar nec tincidunt non, pharetra in 
                ipsum. Morbi nec odio ut lectus volutpat faucibus. Etiam et fermentum orci. 
                Nam ac volutpat libero. Aenean non efficitur quam.
            </p>
            
            <p class="nunito-font">
                Aenean purus nisl, tincidunt ut dolor vitae, hendrerit efficitur nulla. 
                Donec blandit orci vitae porttitor iaculis. Suspendisse potenti. Proin 
                vitae lobortis quam. Suspendisse fermentum, sem ut eleifend euismod, ex 
                lorem suscipit justo, a volutpat mi nunc in augue. Vivamus at nunc varius, 
                efficitur nulla id, convallis nibh. Nunc dictum, odio gravida tempus dictum, 
                dolor diam lacinia metus, non efficitur nulla nisi ac felis. Quisque ultrices 
                elementum tellus, non mollis sapien mollis id. Sed luctus ultrices ex, vel cursus 
                libero aliquam ac. Aenean pretium nulla at lorem rhoncus mattis.
            </p>
            
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}