beautifulsoup4==4.7.1
Django==2.0.10
django-filebrowser==3.11.1
django-filter==2.1.0
django-grappelli==2.12.2
django-tinymce==2.8.0
djangorestframework==3.9.1
Pillow==5.4.1
#pkg-resources==0.0.0
pytz==2018.9
PyYAML==3.13
soupsieve==1.7.3
