{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{{ form.media }}

{% endblock stylesheets %}

{% block content %}
<div class="container">
    <h3 class="center-align">Blog Post Form</h3>
    <div class="divider"></div>
    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}
        <p>
            {{ form.category_id.label_tag }}
            {{ form.category_id.errors }}
            {{ form.category_id }}
        </p>
        <p>
            {{ form.title.label_tag }}
            {{ form.title.errors }}
            {{ form.title }}
        </p>
        <p>
            {{ form.content.label_tag }}
            {{ form.content.errors }}
            {{ form.content }}
        </p>
        <p>
            <label>Tags:</label>
            <div class="chips chips-autocomplete"></div>
            <div id="tag-container">
                {% if tag_objects %}
                    {% for tag in tag_objects %}
                        <input id="tag-{{ tag.html_id }}" type="hidden" name="tags" value="{{ tag.tag }}" />
                    {% endfor %}
                {% endif %}
            </div>
        </p>
        <p>
            <label>
            {{ form.publish.errors }}
            {{ form.publish }}
                <span>Publish</span>
            </label>
        </p>
        <p>
            <input type="submit" value="Save" />
        </p>
    </form>

    {% if prev_page_session %}
        <a href="{% url 'post-list' %}?page={{ prev_page_session }}">Back</a>
        {% if post_id %}
        <a href="{% url 'post-detail' post_id %}?prev_page_session={{ prev_page_session }}">View</a>
        <a href="{% url 'post-decipher-list' post_id %}?prev_page_session={{ prev_page_session }}">Deciphers</a>
        {% endif %}
    {% else %}
        <a href="{% url 'post-list' %}">Back</a>
        {% if post_id %}
        <a href="{% url 'post-detail' post_id %}">View</a>
        <a href="{% url 'post-decipher-list' post_id %}">Deciphers</a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.collapsible').collapsible();
    $('select').formSelect();
    $('.chips-autocomplete').chips({
        data: {{ tags | safe }},
        limit: 4,
        onChipAdd: function(e, data){
            var chipVal = chipValue(data);
            var tagId = 'tag-' + chipVal.split(" ").join("-");
            console.log(tagId);
            var inputElem = '<input type="hidden" id="' + tagId;
            inputElem += '" value="' + chipVal + '" name="tags" />';
            
            console.log($.inArray(chipVal, $(this).attr('chipsData')));
            
            $("div#tag-container").append(inputElem);
        },
        onChipDelete: function(e, data) {
            var chipVal = chipValue(data);
            var tagId = 'tag-' + chipVal.split(" ").join("-");
            $('input#' + tagId).remove();
        },
        autocompleteOptions: {
            data: {{ tags_autocomplete | safe }}
        }
    });

    function chipValue(data){
        return data.childNodes[0].textContent;
    }
  });
</script>
{% endblock javascript %}