{% extends 'base2.html' %}

{% block content %}
<section class="posts">
    <div class="posts__more-blogs">
        <p class="nunito-font">More Blogs</p>
        <ul>
            <li><a href="#">Title Two</a></li>
            <li><a href="#">Title Three</a></li>
            <li><a href="#">Title Four</a></li>
        </ul>
    </div>
    {% if post %}
        <!-- Post manage -->
        <div class="posts__manage">
        {% if prev_page_session %}
            <a href="{% url 'post-list' %}?page={{ prev_page_session }}">Back</a>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}&prev_page_session={{ prev_page_session }}">Edit</a>
            {% endif %}
        {% else %}
            <a href="{% url 'post-list' %}">Back</a>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}">Edit</a>
            {% endif %}
        {% endif %}        
        </div>
        <div class="posts__container">
            <h1 class="posts__title bantayog-font">{{ post.title }}</h1>
            <div class="posts__published">
                <p>Published: {{ post.published_date | date:"M d, Y h:i a" }}</p>
            </div>
            <div class="posts__content">
                {{ post.sanitized_content | safe }}                
            </div>
            {% if post.tags.all %}
            <div class="posts__tags">
                <ul>
                    {% for tag in post.tags.all %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% if deciphers %}
            {% for decipher in deciphers %}
            <!-- Modal -->
            <div id="{{ decipher.name }}" class="posts__decipher modal">
                <!-- Card-->
                <div class="card">
                    <!-- Card Header-->
                    <div class="card-header">Clues</div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>{{ decipher.clue }}</p>
                        <img src="{{ decipher.clue_photo_url }}">
                    </div>
                    <!-- Card Footer -->
                    <div class="card-footer">
                        <a href="#" class="post__decipher-close">Close</a>
                    </div>
                </div>    
            </div>
            {% endfor %} 
        {% endif %}
    {% endif %}
</section>
{% endblock %}

{% block javascript %}
<script>
    const toolTipContainers = document.querySelectorAll('.decipher.tooltip-container');
    toolTipContainers.forEach(toolTipContainer=>{
        toolTipContainer.addEventListener('click', (e)=>{
            console.log(e.target);
            if (e.target.classList.contains("tooltip-container")){
                toolTipContainer.classList.toggle("active");
                e.target.firstElementChild.classList.toggle("show");
            }
        });
    });

    const decipherCluePopups = document.querySelectorAll('.clue-popup');
    decipherCluePopups.forEach(decipherCluePopup => {
        decipherCluePopup.addEventListener('click', (e)=>{
            const targetModal = e.target.getAttribute('data-target');
            // alert(targetModal);

            // show modal
            document.body.style.overflow = "hidden";
            document.querySelector('html').style.overflow = "hidden";
            document.querySelector(targetModal).style.display = "block";
        });
    });

    const decipherForms = document.querySelectorAll('.decipher-form');
    decipherForms.forEach(decipherForm=>{
        decipherForm.addEventListener('submit', (e)=>{
            e.preventDefault();
            alert("yeaboy")
        });
    });
</script>
{% endblock %}