{% extends 'base2.html' %}

{% block content %}
<section class="posts">
    <div class="posts__more-blogs">
        <p class="nunito-font">More Blogs</p>
        <ul>
            <li><a href="#">Title Two</a></li>
            <li><a href="#">Title Three</a></li>
            <li><a href="#">Title Four</a></li>
        </ul>
    </div>
    {% if post %}
        <!-- Post manage -->
        <div class="posts__manage">
        {% if prev_page_session %}
            <a href="{% url 'post-list' %}?page={{ prev_page_session }}">Back</a>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}&prev_page_session={{ prev_page_session }}">Edit</a>
            {% endif %}
        {% else %}
            <a href="{% url 'post-list' %}">Back</a>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}">Edit</a>
            {% endif %}
        {% endif %}        
        </div>
        <div class="posts__container">
            <h1 class="posts__title bantayog-font">{{ post.title }}</h1>
            <div class="posts__published">
                <p>Published: {{ post.published_date | date:"M d, Y h:i a" }}</p>
            </div>
            <div class="posts__content">
                {{ post.sanitized_content | safe }}                
            </div>
            {% if post.tags.all %}
            <div class="posts__tags">
                <ul>
                    {% for tag in post.tags.all %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% if deciphers %}
            {% for decipher in deciphers %}
            <div class="post__decipher modal">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <form action="" class="post__decipher-form">
                            <div class="form-group challenge"></div>
                            <div class="form-group clue"></div>
                            <div class="form-group">
                                <label class="form-label" for=""></label>
                                <input type="text" class="form-input">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="post__decipher-cancel"></a>
                    </div>
                </div>    
            </div>
            {% endfor %} 
        {% endif %}
    {% endif %}
</section>
{% endblock %}

{% block javascript %}
<script>
    const toolTipContainers = document.querySelectorAll('.decipher.tooltip-container');
    toolTipContainers.forEach(toolTipContainer=>{
        toolTipContainer.addEventListener('click', (e)=>{
            console.log(e.target);
            if (e.target.classList.contains("tooltip-container")){
                toolTipContainer.classList.toggle("active");
                e.target.firstElementChild.classList.toggle("show");
            }
        });
    });

    const decipherForms = document.querySelectorAll('.decipher-form');
    decipherForms.forEach(decipherForm=>{
        decipherForm.addEventListener('submit', (e)=>{
            e.preventDefault();
            alert("yeaboy")
        });
    });
</script>
{% endblock %}