{% extends 'base2.html' %}

{% block head_extension %}{% endblock %}
{% block content %}
    <section class="deciphers">
        <div class="deciphers__list">
            {% if deciphers %}
                {% for decipher in deciphers %}
                <div class="deciphers__item">
                    <div class="decipher__post">{{ decipher.post.title }}</div>
                    <div class="decipher__name">{{ decipher.name }}</div>
                    {% if is_paginated %}
                    <a href="{% url 'post-decipher-form' post.id decipher.id %}">Edit</a>
                    {% else %}
                    <a href="{% url 'post-decipher-form' post.id decipher.id %}">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
            <div class="previous">
                <a href="{% url 'post-decipher-list' post.id %}?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
            </div>
            {% endif %}

            <ul class="bantayog-font">
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li><a href="#" class="active">{{ i }}</a></li>
                    {% else %}
                    <li><a href="{% url 'post-decipher-list' post.id %}?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% if page_obj.has_next %}
            <div class="next">
                <a href="{% url 'post-decipher-list' post.id %}?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </section>
{% endblock %}
{% block javascript %}{% endblock %}
