{% extends 'base2.html' %}

{% block content %}
<section class="posts">
    <div class="posts__more-blogs">
        <p class="nunito-font">More Blogs</p>
        <ul>
            <li><a href="#">Title Two</a></li>
            <li><a href="#">Title Three</a></li>
            <li><a href="#">Title Four</a></li>
        </ul>
    </div>
    {% if post %}
        <div class="posts__container">
            <h1 class="posts__title bantayog-font">{{ post.title }}</h1>
            <div class="posts__published">
                <p>Published: {{ post.published_date | date:"M d, Y h:i a" }}</p>
            </div>
            <div class="posts__content">
                {{ post.sanitized_content | safe }}                
            </div>
            {% if post.tags.all %}
            <div class="posts__tags">
                <ul>
                    {% for tag in post.tags.all %}
                    <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    {% endif %}
</section>
{% endblock %}

{% block javascript %}
{% endblock %}