<section class="experience" id="experience" data-nav-index="2">
    <div class="container box" data-aos="experience-box-animation">
        <h2 class="experience__heading">Experiences</h2>
        <div class="experience__list timeline">
            <div class="experience__item timeline-single">
                <div class="timeline-details">
                    <h3 class="experience__company" data-aos="arrow-animation">
                        Rising Tide Digital Inc.
                    </h3>
                    <h5>Jan 2018 - Present</h5>
                    <p>
                        <span>Full Stack developer.</span>
                        Involved in various projects working with clients 
                        like Sunkist, Redbull, and SM. All applications we 
                        develop are supported end-to-end,  from planning, 
                        development, deployment and maintenance.
                    </p>
                </div>
                <span class="time-date reverse">
                    January 2018 - Present
                </span>
            </div>
            <div class="experience__item timeline-single">
                <span class="time-date">
                    April 2016 - June 2016
                </span>
                <div class="timeline-details reverse">
                    <h3 class="experience__company" data-aos="arrow-animation">
                        FX Systems Ltd.
                    </h3>
                    <h5>Apr 2016 - Jun 2016</h5>
                    <p>
                        <span>Java Developer.</span>
                        Demonstrated knowledge in web development by 
                        continously making improvements and bug fixes
                        both in frontend and backend of the company's
                        web application, which is written in Java and
                        Spring as framework.
                    </p>                             
                </div>

            </div>
            <div class="experience__item timeline-single" data-nav-index="3">
                <div class="timeline-details">
                    <h3 class="experience__company" data-aos="arrow-animation">
                        UP ITDC
                    </h3>
                    <h5>Feb 2015 - Oct 2015</h5>
                    <p>
                        <span>PHP Developer.</span>
                        Exhibited good understanding of MVC architecture 
                        and integrated that to the wordpress website of our, 
                        client with the help of WP-MVC plugin. Created pages
                        which showcases the country's industries and 
                        used high maps JS to highlight its regions
                        per active industry.
                    </p>
                </div>
                <span class="time-date reverse">
                    February 2015 - October 2015
                </span>
            </div>
            <div class="experience__item timeline-single">
                <span class="time-date">
                    February 2012 - December 2014
                </span>
                <div class="timeline-details reverse">
                    <h3 class="experience__company" data-aos="arrow-animation">
                        Hewlett Packard
                    </h3>
                    <h5>Feb 2012 - Dec 2014</h5>
                    <p>
                        <span>Technology Consultant.</span>
                        Level 1 support for various applications of P&G. 
                        Successfully completed and resolved thousands of 
                        requests, and incidents. Became a report 
                        owner and an  SME (Subject Matter Expert) of one of 
                        the largest applications guiding newcomers to solve 
                        their own tickets.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>