{% load static %}

<section data-aos-easing="ease-in-back" data-aos="fade-in" data-aos-delay="1500" data-aos-duration="3000" class="profile" id="profile" data-nav-index="0">
    <div class="container box">
        <div class="wrapper">
            <div class="image-border">
                <img class="profile__img" src="{% static 'images/itsme.png' %}" alt="">
            </div>
            <h2 class="profile__intro">Hi, I am <span>Aa</span></h2>
        </div>
        <div class="wrapper">
            <p class="profile__message">
                I love learning <span>software development</span>! I started as 
                an ITIL practitioner, completing and/or solving tickets 
                end-to-end. Eventually, I decided to shift to programming,
                since this is what I want! I always give myself time 
                to study new technologies, especially if it peaks
                my interest. I have 3 years of work experience with great
                thirst for knowledge!
            </p>
            <div class="profile__social-media">
                <ul>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/aaron-cymor-neme%C3%B1o-4b353922/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/aaroncymor">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>