<section class="skills" id="skills" data-nav-index="1">
    <div class="container box">
        <h2 class="skills__heading">Skills</h2>
        <div class="wrapper">
            <!-- <p class="skills__message">
                Here are the arrays of skills I have.
            </p> -->
            <div class="skills__list">
                <h3 class="skills__title">Frontend</h3>
                <div class="skills__category">
                    <div class="skills__item">
                        <p class="skills__html5">
                            <i class="fab fa-html5"></i> 
                            <span>HTML</span>
                        </p>
                    </div>
                    <div class="skills__item">
                        <p class="skills__css">
                            <i class="fab fa-css3-alt"></i>
                            <span>CSS</span> 
                        </p>
                    </div>
                    <div class="skills__item">
                        <p class="skills__js">
                            <i class="fab fa-js-square"></i>
                            <span>Javascript</span> 
                        </p>
                    </div>
                </div>
                <h3 class="skills__title">Backend</h3>
                <div class="skills__category">
                    <div class="skills__item">
                        <p class="skills__python">
                            <i class="fab fa-python"></i>
                           <span>Python</span> 
                        </p>
                    </div>
                    <div class="skills__item">
                        <p class="skills__php">
                            <i class="fab fa-php"></i>
                            <span>PHP</span>
                        </p>
                    </div>
                    <div class="skills__item">
                        <p class="skills__sql">
                            <i class="fas fa-database"></i>
                            <span>SQL</span>
                        </p>
                    </div>
                </div>
                <h3 class="skills__title">Others</h3>
                <div class="skills__category">
                    <div class="skills__item">
                        <p class="skills__devops">
                            <i class="fas fa-infinity"></i>
                            <span>Dev Ops</span>               
                        </p>
                    </div>
                    <div class="skills__item">
                        <p class="skills__os">
                            <i class="fas fa-desktop"></i>
                            <span>OS</span>               
                        </p>
                    </div>
                    <div class="skills__item">
                        <p class="skills__mobile">
                            <i class="fas fa-mobile-alt"></i>
                            <span>Mobile</span>               
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills__tags">
                <h3>Technologies</h3>
                <ul data-aos="fade-up">
                    <li class="python-tech html-tech">Django</li>
                    <li class="python-tech">Django-rest</li>
                    <li class="python-tech">Celery</li>
                    <li class="python-tech">PySerial</li>
                    <li class="css-tech">Scss</li>
                    <li class="js-tech">Vanilla JS</li>
                    <li class="js-tech">jQuery</li>
                    <li class="php-tech html-tech">Wordpress</li>
                    <li class="sql-tech">Postgresql</li>
                    <li class="sql-tech">MySql</li>
                    <li class="sql-tech">Big-Query</li>
                    <li class="devops-tech">Docker</li>
                    <li class="devops-tech">aws</li>
                    <li class="os-tech">Linux</li>
                    <li class="mobile-tech">Flutter</li>
                </ul>
            </div>
        </div>
    </div>
</section>