@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
@font-face {
  font-family: 'BBT Martires';
  font-weight: 300;
  src: url("/static/fonts/BBTMartiresFree-Thin.otf");
}

@font-face {
  font-family: 'BBT Martires';
  font-weight: 400;
  src: url("/static/fonts/BBTMartiresFree-Regular.otf");
}

@font-face {
  font-family: 'BBT Martires';
  font-weight: 800;
  src: url("/static/fonts/BBTMartiresFree-ExtraBold.otf");
}

@font-face {
  font-family: 'Bantayog';
  font-weight: 400;
  src: url("/static/fonts/Bantayog-Regular.otf");
}

@font-face {
  font-family: 'Bantayog';
  font-weight: 300;
  src: url("/static/fonts/Bantayog-Light.otf");
}

@font-face {
  font-family: 'Maragsa';
  font-weight: 400;
  src: url("/static/fonts/Maragsâ-Display.otf");
}

.posts {
  /**
     * Post Form Styles
     */
}

.posts__item {
  padding: 1.2em 1.5em;
}

.posts__item:not(:last-child) {
  border-bottom: 1px solid #93deff;
}

.posts__title {
  font-size: 2.7em;
  color: #323643;
  text-align: center;
}

.posts__short-content {
  padding-top: 1em;
  font-size: 1.3em;
}

.posts__read-more {
  font-style: italic;
  font-weight: 700;
}

.posts__read-more a {
  text-decoration: none;
  font-weight: 800;
  color: #93deff;
}

.posts__published {
  padding: 1em 0;
}

.posts__published p {
  font-weight: 700;
  font-size: 1.3em;
  color: #323643;
}

.posts__tags ul {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  gap: .6rem;
}

.posts__tags li {
  font-family: 'BBT Martires';
  background: #323643;
  padding: 6px;
  border-radius: 22px;
  font-weight: 700;
  color: #f7f7f7;
}

.posts__tags li a {
  background: #f7f7f7;
  margin-left: 10px;
  text-decoration: none;
  color: #323643;
  border-radius: 50%;
  padding: 2px 7px;
}

.posts__container {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.posts__container h1 {
  padding: 1.5rem;
}

.posts__container .posts__tags {
  padding-bottom: 1.8rem;
}

.posts__more-blogs {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.posts__more-blogs p {
  font-size: 1.2em;
}

.posts__more-blogs ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 2rem;
  list-style: '>>';
  gap: 2rem;
}

.posts__more-blogs li a {
  font-size: 1.3em;
  font-weight: 700;
  font-family: 'BBT Martires';
  text-decoration: none;
  color: #93deff;
}

.posts__content p {
  font-size: 1.2em;
  margin-bottom: 1.125rem;
}

.posts__content img {
  width: 100%;
}

.posts__search {
  width: 100%;
}

.posts__search form {
  width: 60%;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts__search form input[type="text"] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #323643;
  background: #f7f7f7;
  color: #323643;
  font-family: 'Nunito', verdana;
  font-size: 1.4em;
  z-index: 0;
}

.posts__search form button {
  margin-left: 10px;
  padding: .3rem;
  border: none;
  width: 120px;
  background: #93deff;
  color: #f7f7f7;
  font-family: 'Bantayog';
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}

.posts__random-tags {
  width: 60%;
  margin: 0 auto;
}

.posts__random-tags p {
  text-align: center;
}

.posts__random-tags p a {
  font-weight: 700;
  color: #323643;
  text-decoration: underline;
}

.posts__form-container form {
  padding: 2em .7em;
}

.posts__form-group {
  margin-top: 1em;
}

.posts__author-menu {
  margin-top: 1em;
}

.posts__author-menu a {
  text-decoration: none;
  color: #323643;
  font-family: 'Bantayog';
}

.posts__author-menu a:hover {
  text-decoration: underline;
}

.autocomplete-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.autocomplete-wrapper .post-search-list {
  width: 100%;
  position: absolute;
  top: 33px;
  /* height of input text */
  background-color: #f7f7f7;
  border-left: 1px solid #323643;
  border-right: 1px solid #323643;
  border-bottom: 1px solid #323643;
}

.autocomplete-wrapper .post-search-list .post-search-item {
  font-family: Nunito;
  font-size: 1.4em;
  font-weight: 700;
  color: #323643;
  cursor: pointer;
}

.autocomplete-wrapper .post-search-list .post-search-item:not(:last-child) {
  border-bottom: 1px solid #93deff;
}

.post-search-item span.autoComplete_highlighted {
  color: #93deff;
}

.post-search-item span.post-search-type {
  font-style: italic;
}

/**
 * Tooltip with Form
 *
 */
.decipher.tooltip-container {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #93deff;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.decipher.tooltip-container::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: .75em;
  position: absolute;
  top: 2px;
  left: 6.7px;
  content: "\f12a";
}

.decipher.tooltip-container.active::before {
  left: 5px;
  content: "\f00d";
}

.notify-container {
  position: absolute;
  bottom: 125%;
  z-index: 9;
  width: 290px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  font-size: .8em;
  border-radius: .5em;
  padding: 1em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.notify-container.show {
  cursor: default;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.notify-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notify-form .notify-form-row p {
  color: #323643;
}

.notify-form .notify-form-row input[type="text"] {
  border: none;
  border-bottom: 1px solid #323643;
  max-width: 170px;
}

.notify-form button {
  border: none;
  border-radius: 5px;
  padding: 3px;
  color: #f7f7f7;
  font-family: 'Nunito';
  background-color: #93deff;
}

.notify-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 80%;
}

.notify-form-group label {
  color: #323643;
}

.notify-form-group input {
  width: 70%;
}

.deciphers__post-title {
  margin-top: 2em;
  text-align: center;
  font-family: 'Bantayog';
}

.deciphers__item {
  padding: 1.2em 1.5em;
}

.deciphers__name {
  font-size: 1.6em;
}

.tags {
  min-height: 100vh;
}

.tags__container {
  display: block;
  margin: 0 auto;
  width: 40%;
  padding: 2em;
  border-radius: 14px;
  border: 1px solid #f7f7f7;
  margin-top: 2em;
}

.tags__title {
  text-align: center;
  font-family: 'Nunito';
  font-size: 2em;
}

.tags__list {
  padding: 1em;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  color: #323643;
  gap: .4em;
}

.tags__item {
  background: #323643;
  padding: 6px;
  border-radius: 22px;
}

.tags__item a {
  text-decoration: none;
  font-family: 'BBT Martires';
  color: #f7f7f7;
  font-weight: 700;
}

.tags__results {
  padding: 1.5em;
}

.tags__results:not(:last-child) {
  border-bottom: 1px solid #93deff;
}

.tags__post-title {
  font-size: 1.9em;
  margin-bottom: .2em;
}

.tags__post-published {
  font-weight: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #323643;
}

a {
  text-decoration: none;
}

/* Utilities */
.bantayog-font {
  font-family: 'Bantayog';
  letter-spacing: 1px;
}

.bbt-martires-font {
  font-family: 'BBT Martires';
  letter-spacing: 2px;
}

.maragsa-font {
  font-family: 'Maragsa';
  letter-spacing: 2px;
}

.nunito-font {
  font-family: 'Nunito';
  letter-spacing: 1.3px;
}

/* Navigation */
.main-nav {
  position: fixed;
  height: 100vh;
  width: 26rem;
  top: 0;
  bottom: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #93deff;
  z-index: 1;
}

.main-nav__list {
  list-style-type: none;
  font-family: 'Maragsa';
  font-size: 3.8em;
}

.main-nav__link {
  text-decoration: none;
  color: #f7f7f7;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.pagination .previous a,
.pagination .next a {
  text-decoration: none;
  color: #323643;
  font-size: 1.4em;
}

.pagination ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5em;
}

.pagination ul li {
  list-style-type: none;
  font-size: 2em;
}

.pagination ul li a {
  text-decoration: none;
  color: #323643;
}

.pagination ul li a.active {
  padding: 5px;
  background-color: #93deff;
  color: #323643;
}
/*# sourceMappingURL=main.css.map */