{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Highlight JS-->
<link rel="stylesheet"
      href="{% static 'css/monokai-sublime.css' %}">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% endblock stylesheets %}

{% block content %}
<div class="container">
    <h3 class="center-align">Blog</h3>
    <div class="divider"></div>
    <div>
        {{ post.title }}
        {{ post.content | safe }}
    </div>
    {% if prev_page_session %}
        <a href="{% url 'post-list' %}?page={{ prev_page_session }}">Back</a>
        {% if request.session.authorized %}
        <a href="{% url 'post-form' %}?id={{ post.id }}&prev_page_session={{ prev_page_session }}">Edit</a>
        {% endif %}
    {% else %}
        <a href="{% url 'post-list' %}">Back</a>
        {% if request.session.authorized %}
        <a href="{% url 'post-form' %}?id={{ post.id }}">Edit</a>
        {% endif %}
    {% endif %}

</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script type="text/javascript">
    $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
</script>
{% endblock javascript %}