{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
    {% if tags %}
        {% for tag in tags %}
            <a href="{% url 'post-random-tags' %}?tag={{ tag }}"><div class="chip">{{ tag }}</div></a>
        {% endfor %}
    {% endif %}
    <div>
    {% if posts %}
        {% for post in posts %}
            <div class="row">
                <p>{{ post.title }}</p>
                {{ post.short_content_for_list }}
                <p>Published date: {{ post.published_date }}</p>
                <div class="divider"></div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}