{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h3>Blog</h3>
    <div class="divider"></div>
    {% if posts %}
        {% for post in posts %}
        <div class="row">
            <p class="aaroncymor-post-title">{{ post.title }}</p>
            <p class="aaroncymor-post-content">{{ post.short_content }}</p>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}">Edit</a>
            {% endif %}
            Read more <a href="{% url 'post-detail' post.id %}">here</a>.
        </div>
        {% endfor %}

        {% if is_paginated %}
        <ul class="pagination">
        </ul>
        {% endif %}
    {% else %}
        Walang POSTS
    {% endif %}
</div>
{% endblock content %}