{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Highlight JS-->
<link rel="stylesheet"
      href="{% static 'css/monokai-sublime.css' %}">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% endblock stylesheets %}

{% block content %}
<div class="container">
    <h3 class="center-align">Blog</h3>
    <div class="divider"></div>
    {% if post %}
        <div>
            {{ post.title }}
            {{ post.sanitized_content | safe }}
        </div>
        {% if prev_page_session %}
            <a href="{% url 'post-list' %}?page={{ prev_page_session }}">Back</a>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}&prev_page_session={{ prev_page_session }}">Edit</a>
            {% endif %}
        {% else %}
            <a href="{% url 'post-list' %}">Back</a>
            {% if request.session.authorized %}
            <a href="{% url 'post-form' %}?id={{ post.id }}">Edit</a>
            {% endif %}
        {% endif %}

        {% if deciphers %}
            {% for decipher in deciphers %}
            <div id="modal-decipherme-{{ decipher.id }}" class="modal">
                <div class="modal-content">
                    <form id="form-decipherme-{{ decipher.id }}">
                        <label>Code:</label>
                        <input id="txt-decipherme-{{ decipher.id }}" type="text" name="code" />
                    </form>

                    <button id="btn-decipherme-{{ decipher.id }}">Submit</button>
                    {{ decipher.hidden_text }}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close">Close</a>
                </div>
            </div> 
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.modal').modal();
        $('.tooltipped').tooltip();
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});

        $('button[id^=btn-decipherme-]').on('click', function(){
            $.post("/api/v1/deciphers/44/check_code", {code: "1345"})
            .fail(function(error){
                alert(JSON.stringify(error));
            })
            .done(function(data){
                console.log(JSON.stringify(data));
            });
        })
    });
</script>
{% endblock javascript %}