<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% endblock stylesheets %}
    </head>

    <body>
        {% block body %}   
        <div id="aaroncymor-website">
            <div class="row">
                <div class="col s3 m3">
                    <ul id="slide-out" class="sidenav sidenav-fixed">
                        <li><div class="user-view">
                        <div class="background">
                            <img src="{% static 'images/office.jpg' %}">
                        </div>
                        <a href="#user"><img class="circle" src="{% static 'images/aaroncymor.jpg' %}"></a>
                        <a href="#name"><span class="name">Aaron Cymor</span></a>
                        <a href="#email"><span class="email">aaroncymor@gmail.com</span></a>
                        </div></li>
                        <li><a href="#!"><i class="material-icons">face</i>About Me</a></li>
                        <li><div class="divider"></div></li>
                        <li><a href="#!">Blog</a></li>
                        <li><a class="waves-effect" href="#!">Projects</a></li>
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
                <div class="col s9 m9">
                    <div id="main">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock body %}

        {% block javascript %}
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript">
              $(document).ready(function(){
                $('.sidenav').sidenav();
            });
        </script>
        {% endblock javascript %}
    </body>
</html>