<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% endblock stylesheets %}
        <style>
          body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }

            main {
                flex: 1 0 auto;
            }
      
        </style>
    </head>

    <body>
        {% block body %}
        <header>
        </header>
        <main>
            <div id="aaroncymor-website">
                <div class="row">
                    <div class="col s3 m3">
                        {% include 'myportfolio/_navigation.html' %}
                    </div>
                    <div class="col s9 m9">
                        <div id="main">
                            {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="row">
                <div class="col s3 m3"></div>
                <div class="col s9 m9 center-align">
                    Test
                </div>
            </div>
        </footer>
        {% endblock body %}
        {% block javascript %}
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.sidenav').sidenav();
                $('.collapsible').collapsible();
            });
        </script>
        {% endblock javascript %}
    </body>
</html>