.deciphers {
    &__post-title {
        margin-top: 2em;
        text-align: center;
        font-family: 'Bantayog';
    }

    &__item {
        padding: 1.2em 1.5em;
    }

    &__name {
        font-size: 1.6em;
    }
}