.posts {
    &__item {
        padding: 2.5rem;
    }

    &__title {
        font-size: 2.7em;
        color: $primaryColor;
        text-align: center;
    }

    &__short-content {
        padding-top: 1em;
        font-size: 1.3em;
    }

    &__read-more {
        font-style: italic;
        font-weight: 700;

        a {
            text-decoration: none;
            font-weight: 800;
            color: $accentOne;
        }
    }

    &__published {
        padding: 1em 0;
        p {
            font-weight: 700;
            font-size: 1.3em;
            color: $primaryColor;
        }   
    }

    &__tags ul {
        display: inline-flex;
        list-style-type: none;
        gap: .6rem;
    }

    &__tags li {
        font-family: 'BBT Martires';
        background: $primaryColor;
        padding: 6px;
        border-radius: 22px;
        font-weight: 700;
        color: $secondaryColor;
    }

    &__container {
        display: block;
        width: 80%;
        margin: 0 auto;

        h1 {
            padding: 1.5rem;
        }

        .posts__tags {
            padding-bottom: 1.8rem;
        }
    }

    &__more-blogs {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
    }
    
    &__more-blogs p {
        font-size: 1.2em;
    }

    &__more-blogs ul {
        display: inline-flex;
        margin-left: 2rem;
        list-style: '>>';
        gap: 2rem;
    }

    &__more-blogs li a {
        font-size: 1.3em;
        font-weight: 700;
        font-family: 'BBT Martires';
        text-decoration: none;
        color: $accentOne;

    }

    &__content {
        p {
            font-size: 1.2em;
            margin-bottom: 1.125rem;
        }
    }

    &__search {
        width: 100%;
    }

    &__search form {
        width: 60%;
        margin: 2em auto;
        display: flex;
        justify-content: center;

        input[type="text"] {
            outline: 0;
            border-width: 0 0 2px;
            border-color: $primaryColor;
            background: $secondaryColor;
        }

        button {
            margin-left: 10px;
            padding: .3rem;
            border: none;
            // border-radius: 12px;
            width: 120px;
            background: $accentOne;
            color: $secondaryColor;
            font-family: 'Bantayog';
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}