.posts {

    &__item {
        padding: 1.2em 1.5em;
    }

    &__item:not(:last-child) {
        border-bottom: 1px solid $accentOne;
    }

    &__title {
        font-size: 2.7em;
        color: $primaryColor;
        text-align: center;
    }

    &__short-content {
        padding-top: 1em;
        font-size: 1.3em;
    }

    &__read-more {
        font-style: italic;
        font-weight: 700;

        a {
            text-decoration: none;
            font-weight: 800;
            color: $accentOne;
        }
    }

    &__published {
        padding: 1em 0;
        p {
            font-weight: 700;
            font-size: 1.3em;
            color: $primaryColor;
        }   
    }

    &__tags ul {
        display: inline-flex;
        list-style-type: none;
        gap: .6rem;
    }

    &__tags li {
        font-family: 'BBT Martires';
        background: $primaryColor;
        padding: 6px;
        border-radius: 22px;
        font-weight: 700;
        color: $secondaryColor;
    }

    &__tags li a {
        background: $secondaryColor;
        margin-left: 10px;
        text-decoration: none;
        color: $primaryColor;
        border-radius: 50%;
        padding: 2px 7px;
    }

    &__container {
        display: block;
        width: 80%;
        margin: 0 auto;

        h1 {
            padding: 1.5rem;
        }

        .posts__tags {
            padding-bottom: 1.8rem;
        }
    }

    &__more-blogs {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-flow: row nowrap;
    }
    
    &__more-blogs p {
        font-size: 1.2em;
    }

    &__more-blogs ul {
        display: inline-flex;
        margin-left: 2rem;
        list-style: '>>';
        gap: 2rem;
    }

    &__more-blogs li a {
        font-size: 1.3em;
        font-weight: 700;
        font-family: 'BBT Martires';
        text-decoration: none;
        color: $accentOne;

    }

    &__content {
        p {
            font-size: 1.2em;
            margin-bottom: 1.125rem;
        }
    }

    &__search {
        width: 100%;
    }

    &__search form {
        width: 60%;
        margin: 2em auto;
        display: flex;
        justify-content: center;

        input[type="text"] {
            outline: 0;
            border-width: 0 0 2px;
            border-color: $primaryColor;
            background: $secondaryColor;
            color: $primaryColor;
            font-family: 'Nunito', verdana;
            font-size: 1.4em;
            z-index: 0;
        }

        button {
            margin-left: 10px;
            padding: .3rem;
            border: none;
            // border-radius: 12px;
            width: 120px;
            background: $accentOne;
            color: $secondaryColor;
            font-family: 'Bantayog';
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    
    &__pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    &__pagination-prev a,
    &__pagination-next a{
        text-decoration: none;
        color: $primaryColor;
        font-size: 1.4em;
    }
    
    &__pagination ul {
        display: inline-flex;
        align-items: center;
        gap: .5em;
    }

    &__pagination ul li {
        list-style-type: none;
        font-size: 2em;
    }

    &__pagination ul li a {
        text-decoration: none;
        color: $primaryColor;
    }

    &__pagination ul li a.active {
	    padding: 5px;
	    background-color: $accentOne;
	    color: $primaryColor;
    }

    &__form {

    }
    &__form-group {
    }
}

.autocomplete-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.autocomplete-wrapper .post-search-list {
    width: 100%;
    position: absolute;
    top: 33px; /* height of input text */
    background-color: $secondaryColor;
    border-left: 1px solid $primaryColor;
    border-right: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
}

.autocomplete-wrapper .post-search-list .post-search-item {
    font-family: Nunito;
    font-size: 1.4em;
    font-weight: 700;
    color: $primaryColor;
    cursor: pointer;
}

.autocomplete-wrapper .post-search-list .post-search-item:not(:last-child) {
    border-bottom: 1px solid $accentOne;
}

.post-search-item span.autoComplete_highlighted {
    color: $accentOne;
}

.post-search-item span.post-search-type {
    font-style: italic;
}